<div id="live-chat-widget" style="left:10px; right:auto !important; bottom:80px !important">
  <iframe frameborder="0" src="https://livechat.messagebird.com/index.html?" id="live-chat-widget-iframe" allow="autoplay" title="Messagebird Livechat Widget" style="width: 408px; height: 690px; overflow: hidden;" class="opened">
    <html>
        <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="noindex">
    <link rel="preconnect" href="https://messaging.messagebird.com">
    <link rel="preconnect" href="https://identitytoolkit.googleapis.com">
    <link rel="preconnect" href="https://firestore.googleapis.com">

    <link rel="dns-prefetch" href="https://messaging.messagebird.com">
    <link rel="dns-prefetch" href="https://identitytoolkit.googleapis.com">
    <link rel="dns-prefetch" href="https://media.messagebird.com">
    <link rel="dns-prefetch" href="https://firestore.googleapis.com">
    <script type="text/javascript">
      // Calling indexedDB as early as possible to initialize indexedDB on iOS
      // https://developer.apple.com/forums/thread/681201
      try {
        window.indexedDB;
      } catch (e) {}
    </script>
    <style>
      @@font-face {
        font-family: 'Lota';
        src: url('/LotaGrotesque-Regular-012a606c062e8f5c6e12f12d9700e20e.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }

      @@font-face {
        font-family: 'Lota';
        src: url('/LotaGrotesque-SemiBold-04bb8dad85b7ac83892624152fec4623.woff2') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: block;
      }
    </style>

    <title>Live chat widget</title>

      <link href="https://ocw.messagebird.com/js/index-nomodule-f6224ab8.css" rel="stylesheet">

    <script>
      function sendEventToPushProm(v) {
        // var server = "https://livechat-metrics.messagebird.com";
        // var http = new XMLHttpRequest();

        // http.open("POST", server + "/measure");
        // http.setRequestHeader("Content-type", "text/plain");
        // http.setRequestHeader("Accept", "text/plain");
        // http.send(JSON.stringify(v));
      }

      var pushpromjsQueue = [];
      var pushpromjs = {
        sendMetric: function () {
          // pushpromjsQueue.push([].slice.call(arguments));
        },
      };

      function handleOnPushPromJSLoad() {
        for (var i; i < pushpromjsQueue.length; i++) {
          pushpromjs.sendMetric(pushpromjsQueue[i]);
        }

        pushpromjsQueue = [];
        pushpromjs.sendMetric({
          type: "counter",
          name: "pushpromjs_client_js_success",
          method: "inc",
          labels: {
            app: "livechat",
          },
        });
      }

      function handleOnPushPromJSFailure() {
        window.pushpromjs.sendMetric = sendEventToPushProm;

        for (var i; i < pushpromjsQueue.length; i++) {
          pushpromjs.sendMetric(pushpromjsQueue[i]);
        }

        pushpromjsQueue = [];
        sendEventToPushProm({
          type: "counter",
          name: "pushpromjs_client_js_failure",
          method: "inc",
          labels: {
            app: "livechat",
          },
        });
      }
    </script>

    <script onload="handleOnPushPromJSLoad()" onerror="handleOnPushPromJSFailure()" src="https://ocw.messagebird.com/metrics.js"></script>
  <script id="google-analytics-init">
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7P5CKRSTC5', {
    anonymize_ip: true,
    allow_google_signals: false,
    allow_ad_personalization_signals: false
  });

  gtag('consent', 'default', {
    analytics_storage: 'denied',
    ad_storage: 'denied'
  });
</script><script src="https://www.googletagmanager.com/gtag/js?id=G-7P5CKRSTC5" id="google-analytics-script"></script></head>
  <body>
    <div id="app"><div class="styles_wrapper__d7uG7 styles_wrapperLeft__2aFSa"><div id="chat-widget-container" class="styles_widget__2g5UX
    styles_widgetLeft__18pbC
    styles_noScroll__2VQlC
    styles_opened__3NvNz"><div style="max-height: 331px;"><div class="styles_chat__YwcxR" style="max-height: 331px;"><div class="styles_ghostLoader__3p3KL styles_hidden__2MYOr"><div class="styles_loader__3xAj7 styles_header__2ty6p"><div class="styles_loader__3xAj7 styles_avatar__19Qa0"></div><div class="styles_agentContainer__2MhTM"><div class="styles_loader__3xAj7 styles_agent__3n5KZ"></div><div class="styles_loader__3xAj7 styles_agent__3n5KZ"></div></div></div><div class="styles_messagesContainer__WNcRj"><div class="styles_messageDateContainer__319Bm"><div class="styles_loader__3xAj7 styles_messageDate__2YWrh"></div></div><div class="styles_message__2sR9F styles_incoming__1jaaI"><div class="styles_loader__3xAj7 styles_messageContent__2uz4H"></div></div><div class="styles_message__2sR9F styles_outgoing__3clkQ"><div class="styles_loader__3xAj7 styles_messageAvatar__SeQE4"></div><div class="styles_loader__3xAj7 styles_messageContent__2uz4H"></div></div></div><div class="styles_formContainer__9EKFP"><div class="styles_loader__3xAj7 styles_formButton__35asx"></div><div class="styles_loader__3xAj7 styles_formButton__35asx"></div><div class="styles_loader__3xAj7 styles_formButton__35asx"></div></div></div><div class="styles_header__3TlHo"><div class="styles_agentWrapper__2gh2k"><div class="styles_avatar__3MExj "><div class="styles_defaultAvatar__3DBJE"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27"><path transform="translate(3.7,3.7)" fill="currentColor" fill-rule="evenodd" d="M0 6h8.5c.829 0 1.5-.895 1.5-2H0V3c0-1.657 1.343-3 3-3h14c1.657 0 3 1.343 3 3v10c0 1.657-1.343 3-3 3h-2.375v2.447c0 1.254-1.457 1.99-2.517 1.27L6.625 16H3c-1.657 0-3-1.343-3-3v-1h6.094c.776 0 1.406-.895 1.406-2H0V6z"></path></svg></div></div><div><p class="styles_agentName__2Mpi3 "></p></div></div><div class="styles_closeIconMobile__U-km5 " role="button" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" id="close-icon" viewBox="0 0 20 20" width="20" height="20"><path d="M6.4 6.4l7.2 7.2m0-7.2l-7.2 7.2" fill="none" stroke="currentColor" stroke-linecap="square" stroke-width="2"></path></svg></div></div><div class="styles_messages__1nEee" data-testid="messages"><div class="styles_messagesList__105n9" data-testid="messages-list"><div id="fetcher"></div><div class="styles_dateSeparator__1OOIQ">Today</div><div class="styles_messageWrapper__1HouA styles_incoming__3aosf "><div class="styles_message__AyABk  styles_incoming__3aosf 
  "><div class="styles_timestamp__2c19- "><p>23:36</p></div><div class="styles_messageTextStatusWrapper__38o68"><div><p>h</p></div><div class="styles_status__2TCqQ"><div style="margin-left: 8px;"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" alt="Delivered"><g fill="none" fill-rule="evenodd" stroke="#9AA8BD" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M0 2L2 4 6 0M6 4l4-4-4 4z" transform="translate(1 2)"></path></g></svg></div></div></div></div></div><div class="styles_messageWrapper__1HouA styles_outgoing__1VYKo "><div class="styles_message__AyABk  styles_outgoing__1VYKo 
  "><div class="styles_avatar__id67q"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 32 32"><path fill="#FFF" fill-rule="evenodd" d="M0 9h13.6c1.326 0 2.4-.895 2.4-2H0V4c0-2.21 1.79-4 4-4h24c2.21 0 4 1.79 4 4v17c0 2.21-1.79 4-4 4h-5v4.282c0 2.195-2.55 3.482-4.404 2.223L9 25H4c-2.21 0-4-1.79-4-4v-3h9.75c1.243 0 2.25-.895 2.25-2H0V9z"></path></svg></div><div class="styles_timestamp__2c19- styles_timestampOutgoing__3BHnR"><p>23:36</p></div><div class="styles_messageTextStatusWrapper__38o68"><div><div>Welcome   to   the   official   F1®   Ticket   Store   support   channel. 
 Please,   let   us   know   what   we   can   help   you   with </div></div></div></div></div></div><div class="styles_footerWrapper__14Mi7"><div class="styles_quickRepliesWrapper__3FV3s"><div class="popupButton_popupButton__gZ8Gx quickReplyStyles_quickReply__1ArKp " role="button" tabindex="0"><span>TICKET SALES</span></div><div class="popupButton_popupButton__gZ8Gx quickReplyStyles_quickReply__1ArKp " role="button" tabindex="0"><span>HELP WITH YOUR ORDER</span></div><div class="popupButton_popupButton__gZ8Gx quickReplyStyles_quickReply__1ArKp " role="button" tabindex="0"><span>REFUND</span></div></div><div class="styles_footer__2XYQk"><div></div><div><a href="https://www.messagebird.com/en/omnichannel-widget/?utm_source=ocw" target="_blank" rel="noopener noreferrer" class="styles_footerLink__17d3m"><p>Powered by <span class="styles_companyName__1s5d9">MessageBird</span></p></a></div></div></div></div><div class="styles_tooltipWrapper__3Q_wx styles_fullWidth__o8j5_" role="button" tabindex="0"><div class="styles_actionsContainer__Jekx5 "><textarea rows="1" class="styles_textarea__113du" aria-labelledby="chat-form-textarea" placeholder="Type your message…"></textarea><span id="chat-form-textarea" hidden="">Type your message…</span><div class="styles_buttonsWrapper__30BFy"><button data-testid="emoji-button" class="styles_button__3Yr7O   styles_secondary__3o6Gs" type="button"><svg xmlns="http://www.w3.org/2000/svg" id="close-icon" viewBox="0 0 20 20" width="16" height="16"><circle cx="10" cy="10" r="9" stroke="#24374E" stroke-width="2" fill="none"></circle><path d="M5 10C5 12.7614 7.23858 15 10 15C12.7614 15 15 12.7614 15 10" stroke="#24374E" fill="none" stroke-width="2"></path><circle cx="7" cy="8" r="1" fill="#001240"></circle><circle cx="13" cy="8" r="1" fill="#001240"></circle></svg></button><input data-testid="file-uploader" class="styles_uploader__FxjL3" type="file" accept="image/*,.pdf,.doc,.docx,video/*,audio/*" name="fileUploader"><button data-testid="attachments-button" class="styles_button__3Yr7O   styles_secondary__3o6Gs" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 19"><path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8.97l-7.564 7.58a4.934 4.934 0 01-6.989 0 4.959 4.959 0 010-7.003l7.565-7.58a3.29 3.29 0 014.659 0 3.306 3.306 0 010 4.668l-7.573 7.58a1.645 1.645 0 01-2.33 0 1.653 1.653 0 010-2.334l6.989-6.994"></path></svg></button><button class="styles_button__3Yr7O" type="submit" aria-label="send"><span class="styles_center__1aiht"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="16" height="16"><g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><g stroke="currentColor" stroke-width="2"><path d="M16 0.485L9.41 15.976 6.044 9.753" transform="translate(2 2)"></path><path d="M16 .485L.078 5.951 6.044 9.753M16 .485L6.044 9.753" transform="translate(2 2)"></path></g></g></svg></span></button></div></div></div></div></div></div><div data-testid="start-button" class="styles_wrapper__2J-67 " role="button" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" id="close-icon" viewBox="0 0 20 20" width="32" height="32"><path d="M6.4 6.4l7.2 7.2m0-7.2l-7.2 7.2" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-width="2"></path></svg></div></div></div>

    <script>
      window.livechat_version = '3';
      window.release = '1.2.13';

      // If the bundle fails to load we send metrics to prometheus from the client
      function errorHandler() {
        pushpromjs.sendMetric({
          type: 'counter',
          name: 'js_livechatwidget_bundle_loading_failure',
          method: 'inc',
        });
      }

      // If the bundle succeeds to load we send metrics to prometheus from the client
      function onLoad() {
        pushpromjs.sendMetric({
          type: 'counter',
          name: 'js_livechatwidget_bundle_loading_success',
          method: 'inc',
        });
      }

      pushpromjs.sendMetric({
        type: 'counter',
        name: 'js_livechatwidget_bundle_loading_attempt',
        method: 'inc',
      });

      pushpromjs.sendMetric({
        type: 'counter',
        name: 'livechatwidget_app_version',
        method: 'inc',
        labels: {
          version: window.livechat_version,
          loadType: 'initial',
        }
      });
    </script>
    <script type="module" onload="onLoad()" onerror="errorHandler()" src="https://ocw.messagebird.com/js/modern-50e52657.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&amp;features=es6%2CObject.values%2CObject.entries%2CObject.fromEntries%2Cfetch%2CIntl.~locale.en%2CIntl.DateTimeFormat%2CURLSearchParams%2CIntersectionObserver"></script>
    <script nomodule="" onerror="errorHandler()" onload="onLoad()" src="https://ocw.messagebird.com/js/index-nomodule-f6224ab8.js"></script>
  

</body>
</html>
</iframe>

  <style>
    .live-chat-no-scroll{
      overflow: hidden;
    }
    #live-chat-widget{
      position: fixed;
      right: 20px;
      bottom: 20px;
      z-index: 10000;
      display: flex;
    }
    @@media only screen and (max-device-width: 990px){
      #live-chat-widget{
        right: 0!important;
        bottom: 0!important;
      }
      #live-chat-widget-iframe.opened{
        top: 0!important;
        width: 100%!important;
        position: fixed!important;
        left: 0!important;
        height: 100%!important;
      }
      #live-chat-widget-iframe{
        max-width: 100%;
      }
    }
  </style>
</div>
